body {
  background-color: #1f3a93;
}
h1 {
  text-align: center;
}
.App {
  text-align: center;
}
table {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cell {
  width: 100px;
  height: 100px;
  text-align: center;
}

